/* hero */

.hero {
    background-color: #2F303A;
}

.hero .hero-title {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .hero-btn {
    background-color: #2196F3;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    text-align: center;
    letter-spacing: 0.06em;
}

/* benefits */

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* work list */

.work-list .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    text-align: center;
}

/* team */

.team {
    background-color: #F5F4FA;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
}

